<div class="form" *ngIf="activeForm">
  <form [formGroup]="form" class="form__form" (submit)="onSubmit()">
    <mat-form-field class="form__price">
      <input matInput
             type="number"
             formControlName="price"
             placeholder="Цена"
             required>
    </mat-form-field>

    <div class="form__select">
      <mat-select class="select"
                  placeholder="Выберите пару"
                  formControlName="pairName"
                  required>
        <mat-option *ngFor="let pairName of suggestPairNames$ | async"
                    [value]="pairName">
          {{ pairName }}
        </mat-option>
      </mat-select>
    </div>

    <mat-form-field class="form__amount">
      <input matInput type="number"
             formControlName="amount"
             placeholder="Количество"
             required>
    </mat-form-field>

    <div class="form__status">
      <mat-radio-group formControlName="status" class="status" required>
        <mat-radio-button value="buy">Куплено</mat-radio-button>
        <mat-radio-button value="sell">Продано</mat-radio-button>
      </mat-radio-group>
    </div>


    <div class="form__button">
      <button class="button"
              [disabled]="!form.valid"
              mat-raised-button>
        Добавить
      </button>
    </div>
  </form>
</div>
